/* 背景 */
.bg {
    position: fixed;
    inset: 0;
    background-image: url("../images/background_mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
