

body {
      background-color: #f7fafc;
      color: #0a0a0a;
      font-family: "Noto Sans JP", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      background-color: #ebebf0;
      padding: 40px 50px;
      border-radius: 16px;
      box-shadow: 0 0 20px rgba(0,0,0,0.4);
      width: 400px;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 8px;
    }

    p {
      color: #aaa;
      margin-top: 0;
      font-size: 14px;
    }

    label {
      display: block;
      text-align: left;
      margin-top: 20px;
      margin-bottom: 8px;
      font-weight: bold;
    }

    input {
      width: calc(100% - 16px);
      padding: 10px;
      border: 1px solid #020202;
      border-radius: 6px;
      background-color: #f6f7fa;
      color: #111111;
      font-size: 15px;
    }

    .input-row {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    button {
      background-color: #6366f1;
      border: none;
      border-radius: 2px;
      color: white;
      font-weight: bold;
      padding: 0px 0px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

a {
  display: inline-block;
  padding: 14px 24px;
  background: linear-gradient(135deg, #0a0ae6, #3e0bd6);
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

a:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

a:active {
  transform: translateY(0);
}

    button:hover {
      background-color: #4f46e5;
    }

    .create-btn {



      width: 100%;
      margin-top: 30px;
      font-size: 16px;
    }
