
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* 背景画像 */
.bg {
    position: fixed;
    inset: 0;

    background-image: url("../images/background_mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: -1;
}

/* ログインボックス */
.container {
    width: 500px;
    padding: 60px 100px;

    background: rgba(235, 235, 240, 0.93);

    border-radius: 16px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);

    border: 1px solid rgba(255, 255, 255, 0.5);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

/* タイトル */
h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 56px;
}

/* 入力グループ */
.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 28px;
}

input {
    width: 100%;
    padding: 22px;

    border: 1px solid #020202;
    border-radius: 8px;

    background-color: #f6f7fa;

    color: #141414;
    font-size: 24px;

    box-sizing: border-box;
}

/* ログインボタン */
button {
    margin-top: 30px;
    width: 100%;
    padding: 24px;

    border: none;
    border-radius: 14px;

    font-size: 30px;
    font-weight: bold;

    color: white;
    cursor: pointer;

    background: linear-gradient(
        135deg,
        #1400ff,
        #3b00ff
    );

    transition: 0.3s;
}
.top-image {
    width: 500px;      /* 好きなサイズ */
    height: 500px;

    margin-bottom: 50px;

    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.3));
}
button:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

/* エラー */
.error {
    color: red;
    font-size: 18px;
    margin-top: 8px;
}

/* 新規登録エリア */
.register-link {
    text-align: center;
    margin-top: 25px;
}

.register-link p {
    font-size: 22px;
    margin-bottom: 15px;
}

/* 新規登録ボタン */
.register-btn {
    display: block;
    width: 100%;

    padding: 24px;

    border-radius: 14px;

    text-decoration: none;

    font-size: 30px;
    font-weight: bold;

    color: white;

    background: linear-gradient(
        135deg,
        #727273,
        #9a9a9a
    );

    box-sizing: border-box;

    transition: 0.3s;
}

.register-btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}